body {
    font-family: Inter, sans-serif;
    margin: 0;
    padding: 0 112px;
    box-sizing: border-box;
    background: #F5F8FF;
    
    #projects {
        margin: 0px -115px;
    }

    .project {
        padding: 0 ;
    }

}

.primary-paragraph{
    color: #8987A1;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%; /* 21px */
}

.secondary-paragraph {
    color: #8987A1;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}

.text-align-left {
    text-align: left !important;
}

.text-align-right {
    text-align: right !important;
}

.text-align-center {
    text-align: center !important;
}

.d-flex {
    display: flex !important;
}

.w-100 {
    width: 100% !important;
}


header {
    color: #fff;
    padding: 10px 0;
    text-align: center;
    display:flex;
    justify-content: space-between;
    margin: 16px 0px;
    align-items: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    border: 1px solid #FFF;
    background: rgba(255, 255, 255, 0.60); 
}

nav ul li {
    /* margin: 0 15px; */
    margin: 22px 42px;
}

nav ul li a {
    text-decoration: none;
    color: #8987A1;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}

.sign{
   display: flex;
   justify-content: space-between;
   gap: 18px;
   align-items: center;
}
.sign-In-Button{
    color: #8987A1;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
    opacity: 0.8;
    border: none;
    background: none; 
}

.sign-Up-Button{
    width: 132px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #4E47FF;   
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 24px */
    border: none;
}

.mobileTabMenu{
    display: none;
}

.container-home{
    position: relative;
    top: -175px;
}

.services-container{
    display:grid;
    margin: 32px 0 0;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1.2fr 1.2fr;
    grid-template-areas: "service-card-1 service-card-2 service-card-3 service-card-4"
    "service-card-5 service-card-5 service-card-6 service-card-4";
    gap: 32px;
}

section {
    padding: 20px;
    text-align: center;
}

.bg-dot {
    background: url(/assets/images/mask.svg) no-repeat !important;
    background-position: 0 !important;
    background-repeat: no-repeat !important;
}

.first-description{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
}

.discription-heading {
    color: #252432;
    text-align: center;
    font-family: Raleway;
    font-size: 73.344px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 73.344px */
    width: 764px;
}

.getintouch-Button{
    width: 211px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #252432;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 24px */
    border:none;
}

.container-project{
    position: relative;
    top: -110px;
}

h1, h2, h3 {
    color: #333;
}

#services-section{
    position: relative;
    top: -300px;
}

.secondary-heading{
    color: #252432;
    font-family: Inter;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 72px */
    text-align: left;
}

.tertiary-heading {
    color: #252432;
    font-family: Inter;
    font-size: 34.065px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 40.879px */
}

.fourth-heading {
    color: #252432;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 36px */
}

#service-card-1,
#service-card-2,
#service-card-3,
#service-card-4,
#service-card-5,
#service-card-6 {
    padding: 32px 24px;
    background-color: #fff;
    border-radius: 10px;
    text-align: start;
}

#service-card-1{
    grid-area: service-card-1;
}

#service-card-2{
    grid-area: service-card-2;
}

#service-card-3{
    grid-area: service-card-3;
}

#service-card-4{
    grid-area: service-card-4;
}

#service-card-5{
    grid-area: service-card-5;
    /* margin-bottom: 32px; */
}
#service-card-6{
    grid-area: service-card-6;
}

.service, .faq-item {
    margin-bottom: 20px;
}

.service-card-4-tab-mobile-view {
    display: none;
}

.icon{
    border-radius: 9px;
    padding: 10px;
    background-color: #F5F8FF;
    width: min-content;
    display: flex;
    align-items: center;
}

.webflow-description{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
}

.webflow-large-icon{
   padding: 77px 64px;
   background-color: #5B54FF;
   border-radius: 5px;
}

.image-1{
    margin-top: 42px;
}

.mask-Project-Design {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 230px;
    mix-blend-mode: color-burn;
}

/* Contact start */

.artwork-Spiral-Small-Design {
    position: absolute;
    right: 0%;
    transform: translate(-50%, -50%);
    margin-top: 60px;
    mix-blend-mode: color-burn;
}

.artwork-Star-Design {
    position: absolute;
    left: 5%;
    transform: translate(-50%, -50%);
    margin-top: -160px;
    mix-blend-mode: color-burn;
}

#contact-form {
    width: 50%;
    margin: 0 auto;
    text-align: left;
    padding: 70px 0px 120px;
}

#contact-form label {
    display: block;
    margin: 10px 0px;
}

#contact-form input, #contact-form textarea {
    width: calc(100% - 65px);
    padding: 20px 32px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    border-radius: 10px;
    border: 1px solid #D6DDED;
    background: transparent;
    color: #8987A1;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

:placeholder-shown {
    color: #8987A1;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 30px */
}

#contact-form button {
    display: block;
    width: 100%;
    padding: 18px;
    color: #fff;
    border: none;
    cursor: pointer;
    flex-shrink: 0;
    border-radius: 10px;
    background: #4E47FF !important;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

#contact-form button:hover {
    background-color: #555;
}

/* Contact end */

/* footer start */

.artwork-Footer-Design {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 0px;
    /* mix-blend-mode: color-burn; */
}

footer {
    /* background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0; */
    position: relative;
    /* bottom: 0;
    width: 100%; */
}

.card-footer{
    position: relative;
    border-radius: 40px;
    /* width: 100%; */
    padding: 84px 72px;
    background-color: #fff;
    /* color: #1d1919; */
    text-align: center;
}

.footer-container{
    display:grid;
    /* margin: 32px 0 0; */
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: 1.1fr 1.2fr; */
    grid-template-areas: "footer-card-1 footer-card-2";
    gap: 32px;
}

#faq-card-1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

#footer-card-1 {
    grid-area: footer-card-1;
}

#footer-card-2 {
    grid-area: footer-card-2;
}

.footer-description {
    padding: 36px 0px 60px;
}

.heart-logo{
    gap: 12px;
}

.footer-nav{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 48px;
    padding: 70px 0px 105px;
}

.social-media-icons{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
}

.media-icons {
    background: #F5F8FF;
    border-radius: 50%;
    padding: 4px 5px 0px;
}

.vector-1 {
    width: 1609.257px;
    height: 100px;
    transform: rotate(-6.092deg);
    flex-shrink: 0;
    background: linear-gradient(270deg, #FF12DC 0%, #FFB912 100%);
    filter: blur(200px);
    left: -45%;
    bottom: 0px;
    position: absolute;
}

.vector-2 {
    width: 1609.257px;
    height: 100px;
    transform: rotate(-6.092deg);
    flex-shrink: 0;
    background: linear-gradient(90deg, #9403FD 0%, #00ADFE 100%);
    filter: blur(200px);
    right: 0;
    bottom: 0px;
    position: absolute;
}

/* footer end */
  
.carousel-container {
position: relative;
width: 100%;
overflow: hidden;
}

.carousel {
display: flex; /* Display images in a row */
justify-content: space-between;
align-items: center;
gap: 66px;
}

.carousel img {
width: calc(100% / 2); /* Set width for each image */
flex-shrink: 0; /* Prevent images from shrinking */
}

.prev, .next {
/* position: absolute;
top: 50%; */
/* transform: translateY(-50%); */
background-color: #fff;
color: #252432;
border: none;
cursor: pointer;
padding: 10px;
border-radius: 50%;
padding: 20px;
/* z-index: 1; */
}

.prev {
left: 0;
}

.next {
right: 0;
}

.arrow {
display: flex;
justify-content: space-evenly;
align-items: baseline;
}

.carousel-image {
border-radius: 10px;
/* border: 1px solid #2B2B2B; */
background: #FFF;
mix-blend-mode: plus-lighter;
padding: 34px;
}

/* rating section start */
#rating {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 66px 0px 46px;
}


.rating-box,
.rating-box * {
  box-sizing: border-box;
}
.rating-box {
  height: 83px;
  position: relative;
  background: #ffffff;
  border-radius: 22px;
  border-style: solid;
  border-color: #e4eaf8;
  border-width: 1px;
  width: 409px;
  height: 83px;
  display: flex;
  align-items: center;
  gap: 110px;
  justify-content: space-evenly;
  text-align: justify;
}

._5-0-based-on-145-reviews {
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 16px;
  line-height: 120%;
  font-weight: 400;
}
._5-0-based-on-145-reviews-span {
  color: #252432;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 16px;
  line-height: 120%;
  font-weight: 600;
}
._5-0-based-on-145-reviews-span2 {
  color: #8987a1;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 120%;
  font-weight: 400;
}
._5-0-based-on-145-reviews-span3 {
  color: #252432;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 16px;
  line-height: 120%;
  font-weight: 600;
}
._5-0-based-on-145-reviews-span4 {
  color: #8987a1;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 120%;
  font-weight: 400;
}

.ellipse-1 {
  border-radius: 50%;
  border-style: solid;
  border-color: #ffffff;
  border-width: 2px;
  width: 37px;
  height: 37px;
  position: absolute;
  left: 135px;
  top: 23px;
  object-fit: cover;
}

.ellipse-2 {
  border-radius: 50%;
  border-style: solid;
  border-color: #ffffff;
  border-width: 2px;
  width: 37px;
  height: 37px;
  position: absolute;
  left: 107px;
  top: 23px;
  object-fit: cover;
}

.ellipse-3 {
  border-radius: 50%;
  border-style: solid;
  border-color: #ffffff;
  border-width: 2px;
  width: 37px;
  height: 37px;
  position: absolute;
  left: 79px;
  top: 23px;
  object-fit: cover;
}

.ellipse-4 {
  border-radius: 50%;
  border-style: solid;
  border-color: #ffffff;
  border-width: 2px;
  width: 37px;
  height: 37px;
  position: absolute;
  left: 51px;
  top: 23px;
  object-fit: cover;
}

.ellipse-5 {
  border-radius: 50%;
  border-style: solid;
  border-color: #ffffff;
  border-width: 2px;
  width: 37px;
  height: 37px;
  position: absolute;
  left: 23px;
  top: 23px;
  object-fit: cover;
}

.checked {
    color: orange !important;
}

/* rating section end */

/* pricing section start */

.pricing-container {
    display:grid;
    margin: 32px 0 0;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1.1fr 1.2fr;
    grid-template-areas: "pricing-card-1 pricing-card-2"
    "pricing-card-3 pricing-card-2";
    gap: 32px;
}

#pricing-card-2 {
    border-radius: 20px;
    background: #fff;
    padding: 43px 26px 25px;
}

#pricing-card-3 {
    border-radius: 20px;
    background: #fff;
    padding: 34px 26px 28px;
}

#pricing-card-1{
    grid-area: pricing-card-1;
}

#pricing-card-2{
    grid-area: pricing-card-2;
}

#pricing-card-3{
    grid-area: pricing-card-3;
}

.schedule-meeting{
    margin: 30px 0 0;
}

.request-container {
    display:grid;
    margin: 32px 0 0;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1.2fr 1.2fr 1.2fr;
    grid-template-areas: "request-card-1 request-card-2"
    "request-card-3 request-card-4"  "request-card-5 request-card-6";
    /* gap: 20px; */
}

#request-card-1, 
#request-card-2,
#request-card-3,
#request-card-4,
#request-card-5,
#request-card-6 {
display: flex;
align-items: center;
gap: 12px;
}

#request-card-1{
    grid-area: request-card-1;
}

#request-card-2{
    grid-area: request-card-2;
}

#request-card-3{
    grid-area: request-card-3;
}

#request-card-1{
    grid-area: request-card-1;
}

#request-card-2{
    grid-area: request-card-2;
}

#request-card-3{
    grid-area: request-card-3;
}

.pricing-amount{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    background: #F5F8FF;
    padding: 28px;
}
/* pricing section end */

.monthly-amount {
    color: #8987A1;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.next-btn {
    background: #F5F8FF;
    border: none;
}

/* FAQ Start */

.artwork-Spiral-Design {
    position: absolute;
    left: 16%;
    transform: translate(-50%, -50%);
    margin-top: 350px;
    mix-blend-mode: color-burn;
}

.faq-container{
    display:grid;
    margin: 32px 0 0;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: 1.1fr 1.2fr; */
    grid-template-areas: "faq-card-1 faq-card-2";
    gap: 32px;
}

#faq-card-1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

#faq-card-1{
    grid-area: faq-card-1;
}

#faq-card-2{
    grid-area: faq-card-2;
}


.accordion {
    width: 100%;
    /* margin: 0 auto; */
}

.accordion-content {
    margin: 16px 0;
    border-radius: 10px;
    overflow: hidden;
    background: #fff;
}

.accordion-content header {
    background-color: #fff;
    padding: 24px 30px 16px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    color: #252432;
}

.accordion-content-title {
    font-size: 16px;
    color: #252432;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 21.6px */
}

.accordion-content-description {
    display: none;
    padding: 0 30px 16px;
    background-color: #fff;
    color: #8987A1;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    margin: 0px;
}

.accordion-content.active .accordion-content-description {
    display: block;
}

.fa {
    font-size: 14px;
    transition: transform 0.3s;
}

.accordion-content.active .fa-plus {
    display: none;
}

.accordion-content.active .fa-minus {
    display: inline;
}

.divider-line {
    margin: 60px 0px;
    width: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
  background: white;
  padding: 84px 72px;
  border-radius: 40px;
  position: relative;
}



/* .grid-item {
  background-color: lightgrey;
} */

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-item {
  flex: 1 1 100%;
}

@media (max-width: 600px) {
  .grid-container {
    grid-template-columns: 1fr;
  }

  .flex-item {
    flex: 1 1 100%;
  }

  .footer-nav {
      display: grid;
      justify-content: center;
      align-items: center;
      gap: 48px;
      padding: 0px 0px 40px !important;
      row-gap: 24px;
  }
  
  .webflow-description {
      display: block;
  }

}

@media (max-width: 832px) {
   .footer-nav {
      display: grid;
      justify-content: center;
      align-items: center;
      gap: 48px;
      padding: 78px 0px 40px;
      row-gap: 24px;
   }
  }
